@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-image: url("bit.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    animation: color-change 4s infinite;
    font-family: Montserrat;
    text-align: center;
    align-items: center;
    margin-top: 20pc;
}

@keyframes color-change{
    0%{color:cornflowerblue}
    25%{color:yellow}
    50%{color: red;}
    100%{color: chartreuse;}
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: min-content;
}

.dis{
    margin-left: 1.5pc;
    margin-top: 2pc;
    color: #7289d9;

}

.yt{
    margin-left: 1.5pc;
    margin-top: 2pc;
    color: #de1414;
}

.red{
    margin-left: 1.5pc;
    margin-top: 2pc;
    color: #f06419;
    
}

.git{
    margin-left: 1.5pc;
    margin-top: 2pc;
    color: #000000; 
}
